h1{
    color: brown;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
h3{
    color: rgb(78, 75, 75);
    margin-top: 15%;
}
button{
    margin-top: 5%;
    font-size: large;
    border-radius: 5px;
}
.btn1{
    color:  #162530;
    background-color:  #00827F;
}
.btn2{
    color: #00827F;
    background-color: #3C565B;
}
input{
    width: 90%;
    height: 10%;
    margin-top: 2%;
}
input:focus{
    background-color: #3C565B;
    color: #00827F;
    width: 100%;
    height: 15%;
}
.btn1:hover{
    background-color: rgb(113, 170, 26);
    color: black;
}
.btn2:hover{
    background-color: rgb(204, 101, 118);
    color: black;
}
